[submodule "draco"]
	path = draco
	url = git@github.com:google/draco.git
[submodule "cgltf"]
	path = cgltf
	url = git@github.com:jkuhlmann/cgltf.git
[submodule "MaterialX"]
	path = MaterialX
	url = git@github.com:AcademySoftwareFoundation/MaterialX.git
[submodule "OpenShadingLanguage"]
	path = OpenShadingLanguage
	url = git@github.com:AcademySoftwareFoundation/OpenShadingLanguage.git
[submodule "OpenSubdiv"]
	path = OpenSubdiv
	url = git@github.com:PixarAnimationStudios/OpenSubdiv.git
[submodule "OpenUSD"]
	path = OpenUSD
	url = git@github.com:PixarAnimationStudios/OpenUSD.git
[submodule "openvdb"]
	path = openvdb
	url = git@github.com:AcademySoftwareFoundation/openvdb.git
[submodule "caldera"]
	path = caldera
	url = git@github.com:Activision/caldera.git
[submodule "OpenColorIO"]
	path = OpenColorIO
	url = git@github.com:AcademySoftwareFoundation/OpenColorIO.git
[submodule "OpenImageIO"]
	path = OpenImageIO
	url = git@github.com:AcademySoftwareFoundation/OpenImageIO.git
[submodule "openexr"]
	path = openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "OpenJPH"]
	path = OpenJPH
	url = git@github.com:aous72/OpenJPH.git
[submodule "aces-looks"]
	path = aces-looks
	url = git@github.com:priikone/aces-looks.git
